.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  padding: 20rem 2rem;
  border-radius: 10px;
  background-color: #eee;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 2px 15px;

  @media screen and (width <= 1200px) {
    flex-direction: column;
    padding: 10rem 2rem;
    row-gap: 2rem;
  }

  .imgBox {
    width: max(15rem, 50%);
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;

    @media screen and (width <= 1200px) {
      width: max(10rem, 100%);
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .titleBox {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    @media screen and (width <= 1200px) {
      width: 100%;
      text-align: center;
    }

    .subtitle {
      font-size: 2.25rem;
      font-weight: 400;
      color: #555;

      @media screen and (width <= 576px) {
        font-size: 1.75rem;
      }
    }

    .title {
      width: fit-content;
      position: relative;

      @media screen and (width <= 1200px) {
        margin-inline: auto;
      }

      &::before {
        content: "Front-end";
        color: #111;
        font-size: 64px;
        animation: words 20s infinite;

        @media screen and (width <= 576px) {
          font-size: 42px;
        }
      }

      &::after {
        content: "";
        position: absolute;
        right: -8px;
        background-color: #eee;
        width: calc(100% + 8px);
        height: 100%;
        border-left: #111 2px solid;
        animation:
          blink 0.8s infinite,
          typing 20s steps(14) infinite;
      }
    }
  }
}

@keyframes blink {
  to {
    border-left: #ddd;
  }
}

@keyframes words {
  0%,
  33% {
    content: "Front-end";
  }
  34%,
  66% {
    content: "Back-end";
  }
  67%,
  100% {
    content: "Mobile";
  }
}

@keyframes typing {
  10%,
  28%,
  44%,
  61%,
  77%,
  95% {
    width: 0;
  }
  5%,
  33%,
  39%,
  66%,
  72% {
    width: calc(100% + 8px);
  }
}
