.biography {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  .text {
    font-size: 1.25rem;
    line-height: 2rem;
    color: #4b5563;

    @media screen and (width <= 768px) {
      font-size: 1rem;
      line-height: 1.7rem;
    }
  }

  .bioBox {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 3rem;

    @media screen and (width <= 768px) {
      gap: 1rem;
    }
  }
}
